@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    font-family: 'Montserrat';
}
.wrapper {

    margin: 50px;
    width: 0%;
    display: inline;
    text-align: center;
}

.cont {
    background-color: aliceblue;
    border-radius: 100px;
    width: 80%;
    /* border: 2px solid aliceblue; */
}
.wrpTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hlthTxt {
    padding: 30px;
    font-weight: bold;
}
.foto{
    width: 500px;
    height: 350px;
    border-radius: 15px;
}
.cntButton{
    display: flex;
    justify-content: center;
}

.button1{
    width: 30%;
    height : 50px;
    border: 2px solid #1b9bff;
    border-radius: 15px;
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button1:hover {
    background-color: rgb(17, 191, 188);
    transition: .55s;
    border: 2px solid black;
    color : aliceblue;
}

.divwrapp{
    background-color: black;
    display: inline-flex;
    flex-direction: row;
    padding: 115px;
    border-radius: 15px;
    margin: 20px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    
}
.box-main{
    flex-direction: row;
}

#box {
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.padCont {
    margin: 30px;
}
.crdTxt{
    color:white;
    font-size : 37px;
    text-align: center;
    align-items: center;
    font-family:'Montserrat';
}
.divwrapp:hover {
    background-color : rgba(17, 191, 188,0.6);
    transition: .65s ease;
}

@media only screen and (max-width: 767px) {
    .wrpTxt {
      text-align: center;
    }
    .col-md-6 {
      width: 100%;
    }
    .logo {
      display: block;
    }
    .navbar {
      text-align: center;
    }
    .navbar ul {
      display: none;
    }
    .navbar input[type="checkbox"]:checked + label + ul {
      display: block;
    }

  }